h1 {
    text-align: left;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSEEuSKv1VSK9XoW7PdK-Lpm0TmcW6RfFL9Xw&usqp=CAU);
    background-size: contain;
    }